<!-- <head>
  <script src="passwordReset.js"></script>
</head> -->
<h1>Password Reset</h1>
<form action="/auth/passwordReset" method="post" id="passwordReset">
  <div class="form-group">
    <label for="authEmail">Email</label>
    <input id="authEmail" class="form-control" type="email" name="authEmail">
  </div>

  <div class="form-group">
    <label for="newPassword1">New Password</label>
    <input id="newPassword1" class="form-control" type="password" name="newPassword1">
  </div>

  <div class="form-group">
    <label for="newPassword2">Re-type Password</label>
    <input id="newPassword2" class="form-control" type="password" name="newPassword2">
  </div>

  <input class="btn btn-primary" type="submit">
</form>
