
<ol class="breadcrumb">
  <li class="active">Data</li>
</ol>
<h2>Home</h2>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/auth/passwordReset">Reset Password</a>


<!-- <body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/auth/signup" class="btn btn-default"><span class="fa fa-user"></span>  Singup</a>
        <a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span>  Login</a>
        <a href="/pswdReset" class="btn btn-default"><span class="fa fa-user"></span>  Reset Password</a>

    </div>

</div>
</body> -->