

<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<!-- <h2>Home</h2> -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/blind1.jpg" alt="Korea Combi Blinds">
      <div class="carousel-caption">
    	<h3>Combi Blinds</h3>
    	<p>100% made in Korea! Cash back Guaranteed!</p>
  		</div>
    </div>
    <div class="item">
      <img src="/img/blind2.jpg" alt="Korea Combi Blinds">
      <div class="carousel-caption">
    	<h3>Combi Blinds</h3>
    	<p>100% made to your size, Good price, high quality, free delivery</p>
  	  </div>
    </div>
    <div class="item">
      <img src="/img/blind3.jpg" alt="Korea Combi Blinds">
      <div class="carousel-caption">
    	<h3>Combi Blinds</h3>
    	<p>Many choices, blackout, dimmer, natural...availabe</p>
      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/auth/passwordReset">Reset Password</a>
 -->

<!-- <body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/auth/signup" class="btn btn-default"><span class="fa fa-user"></span>  Singup</a>
        <a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span>  Login</a>
        <a href="/pswdReset" class="btn btn-default"><span class="fa fa-user"></span>  Reset Password</a>

    </div>

</div>
</body> -->