<ol class="breadcrumb">
  <li><a href="/product">All Products</a></li>
  <li class="active">Create New Product</li>
</ol>
  
    <h1>Create New Product</h1>

    <div class="product">
      <form id="product/new" action="/product/new" method="POST">
        <div>
          Model: <input type="text" name="model" value="">
        </div>
        <div>
          Color: <input type="text" name="color" value="">
        </div>
        <div>
          Type: <input type="text" name="type" value="">
        </div>
        <div>
          Price: <input type="text" name="price" value="">
        </div>
        <div>
          MAxWidth: <input type="text" name="maxWidth" value="">
        </div>
        <div>
          imgFileLocation: <input type="text" name="imgFileLocation" value="">
  
        <button type="submit">create product</button>
      </form>
    </div>
  